In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [2]:
df=pd.read_excel("D:/Journal paper work/Serbia_data_new/autumn.xlsx")

In [3]:
lower_limit = 4
upper_limit = 16
df = df[(df['Hour'] >= lower_limit) & (df['Hour'] <= upper_limit)]

In [4]:
max_value1 = df['GHI'].max()
min_value1 = df['GHI'].min()

print("GHI(max):", max_value1)
print("GHI(min):", min_value1)

GHI(max): 846.8991
GHI(min): 0.0

In [5]:
df['GHI1'] = df['GHI'].shift(1)
df['GHI2'] = df['GHI'].shift(2)
df['GHI3'] = df['GHI'].shift(3)
df['GHI4'] = df['GHI'].shift(4)
df['GHI5'] = df['GHI'].shift(5)
df['GHI6'] = df['GHI'].shift(6)
df['GHI7'] = df['GHI'].shift(7)
df['GHI8'] = df['GHI'].shift(8)
df['GHI9'] = df['GHI'].shift(9)
df['GHI10'] = df['GHI'].shift(10)
df['GHI11'] = df['GHI'].shift(11)
df['GHI12'] = df['GHI'].shift(12)
df['GHI13'] = df['GHI'].shift(13)
df['GHI14'] = df['GHI'].shift(14)

In [6]:
df.dropna(inplace=True)
df.head()

,DT,Year,Month,Day,Hour,Precipitation,Temperature,GHI,TOA Irradiance,Snowfall,...,GHI5,GHI6,GHI7,GHI8,GHI9,GHI10,GHI11,GHI12,GHI13,GHI14
29,2010-09-02 05:00:00,2010,9,2,5,0.0000,11.080,225.1232,349.8933,0.0,...,418.1286,507.3860,575.3261,580.6559,577.1240,483.1425,374.7376,249.5989,123.9919,28.2261
30,2010-09-02 06:00:00,2010,9,2,6,0.0001,13.880,415.9364,580.4945,0.0,...,303.8612,418.1286,507.3860,575.3261,580.6559,577.1240,483.1425,374.7376,249.5989,123.9919
31,2010-09-02 07:00:00,2010,9,2,7,0.0036,16.087,587.9669,780.5695,0.0,...,178.1937,303.8612,418.1286,507.3860,575.3261,580.6559,577.1240,483.1425,374.7376,249.5989
32,2010-09-02 08:00:00,2010,9,2,8,0.0086,17.801,720.2325,936.4551,0.0,...,60.7986,178.1937,303.8612,418.1286,507.3860,575.3261,580.6559,577.1240,483.1425,374.7376
33,2010-09-02 09:00:00,2010,9,2,9,0.0053,19.108,801.9192,1037.4592,0.0,...,52.2495,60.7986,178.1937,303.8612,418.1286,507.3860,575.3261,580.6559,577.1240,483.1425

In [7]:
from sklearn.preprocessing import MinMaxScaler
columns_to_normalize = ['GHI','GHI1','GHI2','GHI3','GHI4','GHI5','GHI6','GHI7','GHI8','GHI9','GHI10','GHI11','GHI12','GHI13','GHI14']
scaler = MinMaxScaler()

df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])
df.head()

,DT,Year,Month,Day,Hour,Precipitation,Temperature,GHI,TOA Irradiance,Snowfall,...,GHI5,GHI6,GHI7,GHI8,GHI9,GHI10,GHI11,GHI12,GHI13,GHI14
29,2010-09-02 05:00:00,2010,9,2,5,0.0000,11.080,0.265821,349.8933,0.0,...,0.493717,0.599110,0.679333,0.685626,0.681455,0.570484,0.442482,0.294721,0.146407,0.033329
30,2010-09-02 06:00:00,2010,9,2,6,0.0001,13.880,0.491129,580.4945,0.0,...,0.358793,0.493717,0.599110,0.679333,0.685626,0.681455,0.570484,0.442482,0.294721,0.146407
31,2010-09-02 07:00:00,2010,9,2,7,0.0036,16.087,0.694259,780.5695,0.0,...,0.210407,0.358793,0.493717,0.599110,0.679333,0.685626,0.681455,0.570484,0.442482,0.294721
32,2010-09-02 08:00:00,2010,9,2,8,0.0086,17.801,0.850435,936.4551,0.0,...,0.071790,0.210407,0.358793,0.493717,0.599110,0.679333,0.685626,0.681455,0.570484,0.442482
33,2010-09-02 09:00:00,2010,9,2,9,0.0053,19.108,0.946889,1037.4592,0.0,...,0.061695,0.071790,0.210407,0.358793,0.493717,0.599110,0.679333,0.685626,0.681455,0.570484

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [9]:
X=df[['GHI1','GHI2','GHI3','GHI4','GHI5','GHI6','GHI7','GHI8','GHI9','GHI10','GHI11','GHI12','GHI13','GHI14']]
y=df[['GHI']]

In [10]:
split_index = int(len(X) * 0.9)

X_train, X_test = X[:split_index], X[split_index:]
y_train, y_test = y[:split_index], y[split_index:]

rfr = RandomForestRegressor(n_estimators=100, random_state=42)
rfr.fit(X_train, y_train)

y_pred = rfr.predict(X_test)

rmse_rf = mean_squared_error(y_test, y_pred, squared=False)
mae_rf = mean_absolute_error(y_test, y_pred)
r2_rf = r2_score(y_test, y_pred)

max_value = 846.8991
min_value = 0
original_rmse = rmse_rf * (max_value - min_value) + min_value
original_mae = mae_rf * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_rf)

C:\Users\suraj\AppData\Local\Temp\ipykernel_5944\1181838768.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(X_train, y_train)

RMSE: 13.853224682873835
MAE: 8.676358055322172
R-squared: 0.9963839120212841

In [11]:
y_test = np.squeeze(y_test)
max_val = 846.8991
min_val = 0
y_test_actual = y_test * (max_val - min_val) + min_val
y_pred_actual = y_pred * (max_val - min_val) + min_val
y_test_actual = np.round(y_test_actual, 3)
y_pred_actual = np.round(y_pred_actual, 3)

cross_checking = pd.DataFrame({'Actual': y_test_actual, 'Predicted': y_pred_actual})
print(cross_checking.tail(20))

        Actual  Predicted
13138  251.103    266.254
13139  225.701    254.164
13140  175.748    198.229
13141  113.680    120.875
13142   52.182     64.908
13143    7.903     16.178
13144    0.000      0.000
13156    0.000      5.777
13157    2.309     10.465
13158   31.573     66.515
13159   81.065    104.805
13160  146.573    150.757
13161  211.719    217.278
13162  253.584    251.742
13163  260.439    243.740
13164  229.492    224.924
13165  163.855    161.264
13166   82.499     76.608
13167   12.053     14.876
13168    0.000      0.011

In [12]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf')
svr.fit(X_train, y_train)

y_pred = svr.predict(X_test)

rmse_svr = mean_squared_error(y_test, y_pred, squared=False)
mae_svr = mean_absolute_error(y_test, y_pred)
r2_svr = r2_score(y_test, y_pred)


max_value = 846.8991
min_value = 0
original_rmse = rmse_svr * (max_value - min_value) + min_value
original_mae = mae_svr * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_svr)

RMSE: 44.764144125324215
MAE: 38.98788650387161
R-squared: 0.9622429719215422

C:\Users\suraj\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=10)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
rmse_knn = mean_squared_error(y_test, y_pred_knn, squared=False)
mae_knn = mean_absolute_error(y_test, y_pred_knn)
r2_knn = r2_score(y_test, y_pred_knn)


max_value = 846.8991
min_value = 0
original_rmse = rmse_knn * (max_value - min_value) + min_value
original_mae = mae_knn * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_knn)

RMSE: 27.50326379454332
MAE: 17.565983576437585
R-squared: 0.9857470191752321

In [14]:
from sklearn.neural_network import MLPRegressor

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

mlp = MLPRegressor(hidden_layer_sizes=(40, 40, 40, 40, 40), activation='relu', solver='adam', max_iter=100, random_state=42)
mlp.fit(X_train_scaled, y_train)
y_pred = mlp.predict(X_test_scaled)

rmse_ann = mean_squared_error(y_test, y_pred, squared=False)
mae_ann = mean_absolute_error(y_test, y_pred)
r2_ann = r2_score(y_test, y_pred)

max_value = 846.8991
min_value = 0
original_rmse = rmse_ann * (max_value - min_value) + min_value
original_mae = mae_ann * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_ann)

C:\Users\suraj\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1617: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RMSE: 16.599820347242453
MAE: 11.925855696257926
R-squared: 0.9948078885282032