In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [13]:
df=pd.read_excel("D:/Journal paper work/Serbia_data_new/spring.xlsx")

In [14]:
lower_limit = 4
upper_limit = 16
df = df[(df['Hour'] >= lower_limit) & (df['Hour'] <= upper_limit)]

In [15]:
max_value1 = df['GHI'].max()
min_value1 = df['GHI'].min()

print("GHI(max):", max_value1)
print("GHI(min):", min_value1)

GHI(max): 936.0038
GHI(min): 0.0003

In [16]:
df['GHI1'] = df['GHI'].shift(1)
df['GHI2'] = df['GHI'].shift(2)
df['GHI3'] = df['GHI'].shift(3)
df['GHI4'] = df['GHI'].shift(4)
df['GHI5'] = df['GHI'].shift(5)
df['GHI6'] = df['GHI'].shift(6)
df['GHI7'] = df['GHI'].shift(7)
df['GHI8'] = df['GHI'].shift(8)
df['GHI9'] = df['GHI'].shift(9)
df['GHI10'] = df['GHI'].shift(10)
df['GHI11'] = df['GHI'].shift(11)
df['GHI12'] = df['GHI'].shift(12)
df['GHI13'] = df['GHI'].shift(13)
df['GHI14'] = df['GHI'].shift(14)

In [17]:
df.dropna(inplace=True)
df.head()

,DT,Year,Month,Day,Hour,Precipitation,Temperature,GHI,TOA Irradiance,Snowfall,...,GHI5,GHI6,GHI7,GHI8,GHI9,GHI10,GHI11,GHI12,GHI13,GHI14
29,2010-03-02 05:00:00,2010,3,2,5,0.2300,2.763,11.8717,102.8153,0.0047,...,222.9674,237.1066,229.8073,175.8219,145.4160,121.9950,102.5508,75.5410,20.5998,0.0008
30,2010-03-02 06:00:00,2010,3,2,6,0.1707,3.446,54.9521,340.5121,0.0034,...,162.5011,222.9674,237.1066,229.8073,175.8219,145.4160,121.9950,102.5508,75.5410,20.5998
31,2010-03-02 07:00:00,2010,3,2,7,0.1245,4.354,118.1682,548.5892,0.0014,...,55.3836,162.5011,222.9674,237.1066,229.8073,175.8219,145.4160,121.9950,102.5508,75.5410
32,2010-03-02 08:00:00,2010,3,2,8,0.0950,5.479,190.8302,710.8088,0.0009,...,0.3782,55.3836,162.5011,222.9674,237.1066,229.8073,175.8219,145.4160,121.9950,102.5508
33,2010-03-02 09:00:00,2010,3,2,9,0.0766,6.846,263.1544,816.0985,0.0003,...,0.0006,0.3782,55.3836,162.5011,222.9674,237.1066,229.8073,175.8219,145.4160,121.9950

In [18]:
from sklearn.preprocessing import MinMaxScaler
columns_to_normalize = ['GHI','GHI1','GHI2','GHI3','GHI4','GHI5','GHI6','GHI7','GHI8','GHI9','GHI10','GHI11','GHI12','GHI13','GHI14']
scaler = MinMaxScaler()

df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])
df.head()

,DT,Year,Month,Day,Hour,Precipitation,Temperature,GHI,TOA Irradiance,Snowfall,...,GHI5,GHI6,GHI7,GHI8,GHI9,GHI10,GHI11,GHI12,GHI13,GHI14
29,2010-03-02 05:00:00,2010,3,2,5,0.2300,2.763,0.012683,102.8153,0.0047,...,2.382118e-01,0.253318,0.245519,0.187843,0.155358,0.130336,0.109562,0.080706,0.022008,5.341860e-07
30,2010-03-02 06:00:00,2010,3,2,6,0.1707,3.446,0.058709,340.5121,0.0034,...,1.736113e-01,0.238212,0.253318,0.245519,0.187843,0.155358,0.130336,0.109562,0.080706,2.200793e-02
31,2010-03-02 07:00:00,2010,3,2,7,0.1245,4.354,0.126247,548.5892,0.0014,...,5.916997e-02,0.173611,0.238212,0.253318,0.245519,0.187843,0.155358,0.130336,0.109562,8.070557e-02
32,2010-03-02 08:00:00,2010,3,2,8,0.0950,5.479,0.203877,710.8088,0.0009,...,4.037378e-04,0.059170,0.173611,0.238212,0.253318,0.245519,0.187843,0.155358,0.130336,1.095621e-01
33,2010-03-02 09:00:00,2010,3,2,9,0.0766,6.846,0.281146,816.0985,0.0003,...,3.205116e-07,0.000404,0.059170,0.173611,0.238212,0.253318,0.245519,0.187843,0.155358,1.303357e-01

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [20]:
X=df[['GHI1','GHI2','GHI3','GHI4','GHI5','GHI6','GHI7','GHI8','GHI9','GHI10','GHI11','GHI12','GHI13','GHI14']]
y=df[['GHI']]

In [21]:
split_index = int(len(X) * 0.9)

X_train, X_test = X[:split_index], X[split_index:]
y_train, y_test = y[:split_index], y[split_index:]

rfr = RandomForestRegressor(n_estimators=100, random_state=42)
rfr.fit(X_train, y_train)

y_pred = rfr.predict(X_test)

rmse_rf = mean_squared_error(y_test, y_pred, squared=False)
mae_rf = mean_absolute_error(y_test, y_pred)
r2_rf = r2_score(y_test, y_pred)

max_value = 936.0038
min_value = 0
original_rmse = rmse_rf * (max_value - min_value) + min_value
original_mae = mae_rf * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_rf)

C:\Users\suraj\AppData\Local\Temp\ipykernel_12968\2915531898.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(X_train, y_train)

RMSE: 16.95898669554149
MAE: 11.94572321864372
R-squared: 0.9954161639592213

In [22]:
y_test = np.squeeze(y_test)
max_val = 936.0038
min_val = 0
y_test_actual = y_test * (max_val - min_val) + min_val
y_pred_actual = y_pred * (max_val - min_val) + min_val
y_test_actual = np.round(y_test_actual, 3)
y_pred_actual = np.round(y_pred_actual, 3)

cross_checking = pd.DataFrame({'Actual': y_test_actual, 'Predicted': y_pred_actual})
print(cross_checking.tail(20))

        Actual  Predicted
13138  608.767    668.929
13139  535.312    557.531
13140  444.291    434.125
13141  339.069    343.556
13142  242.248    224.531
13143  138.542    149.311
13144   52.361     59.805
13156   43.728     41.210
13157  121.681    147.351
13158  228.954    240.098
13159  351.913    353.103
13160  419.816    453.134
13161  450.325    462.229
13162  463.998    432.378
13163  433.770    416.527
13164  388.282    368.879
13165  311.383    321.535
13166  221.757    202.152
13167  130.231    122.030
13168   54.152     57.454

In [23]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf')
svr.fit(X_train, y_train)

y_pred = svr.predict(X_test)

rmse_svr = mean_squared_error(y_test, y_pred, squared=False)
mae_svr = mean_absolute_error(y_test, y_pred)
r2_svr = r2_score(y_test, y_pred)


max_value = 936.0038
min_value = 0
original_rmse = rmse_svr * (max_value - min_value) + min_value
original_mae = mae_svr * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_svr)

RMSE: 43.34378452790255
MAE: 36.192265163198655
R-squared: 0.9700578533269162

C:\Users\suraj\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=10)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
rmse_knn = mean_squared_error(y_test, y_pred_knn, squared=False)
mae_knn = mean_absolute_error(y_test, y_pred_knn)
r2_knn = r2_score(y_test, y_pred_knn)


max_value = 936.0038
min_value = 0
original_rmse = rmse_knn * (max_value - min_value) + min_value
original_mae = mae_knn * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_knn)

RMSE: 32.937040882130404
MAE: 24.18926729010571
R-squared: 0.9827098630291896

In [25]:
from sklearn.neural_network import MLPRegressor

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

mlp = MLPRegressor(hidden_layer_sizes=(40, 40, 40, 40, 40), activation='relu', solver='adam', max_iter=100, random_state=42)
mlp.fit(X_train_scaled, y_train)
y_pred = mlp.predict(X_test_scaled)

rmse_ann = mean_squared_error(y_test, y_pred, squared=False)
mae_ann = mean_absolute_error(y_test, y_pred)
r2_ann = r2_score(y_test, y_pred)

max_value = 936.0038
min_value = 0
original_rmse = rmse_ann * (max_value - min_value) + min_value
original_mae = mae_ann * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_ann)

C:\Users\suraj\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1617: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RMSE: 22.13891387614581
MAE: 15.896386402869169
R-squared: 0.9921883658092907