In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [15]:
df=pd.read_excel("D:/Journal paper work/Serbia_data_new/winter.xlsx")

In [16]:
lower_limit = 6
upper_limit = 15
df = df[(df['Hour'] >= lower_limit) & (df['Hour'] <= upper_limit)]

In [17]:
max_value1 = df['GHI'].max()
min_value1 = df['GHI'].min()

print("GHI(max):", max_value1)
print("GHI(min):", min_value1)

GHI(max): 658.4534
GHI(min): 0.001

In [18]:
df['GHI1'] = df['GHI'].shift(1)
df['GHI2'] = df['GHI'].shift(2)
df['GHI3'] = df['GHI'].shift(3)
df['GHI4'] = df['GHI'].shift(4)
df['GHI5'] = df['GHI'].shift(5)
df['GHI6'] = df['GHI'].shift(6)
df['GHI7'] = df['GHI'].shift(7)
df['GHI8'] = df['GHI'].shift(8)
df['GHI9'] = df['GHI'].shift(9)
df['GHI10'] = df['GHI'].shift(10)
df['GHI11'] = df['GHI'].shift(11)
df['GHI12'] = df['GHI'].shift(12)
df['GHI13'] = df['GHI'].shift(13)
df['GHI14'] = df['GHI'].shift(14)

In [19]:
df.dropna(inplace=True)
df.head()

,DT,Year,Month,Day,Hour,Precipitation,Temperature,GHI,TOA Irradiance,Snowfall,...,GHI5,GHI6,GHI7,GHI8,GHI9,GHI10,GHI11,GHI12,GHI13,GHI14
34,2010-01-02 10:00:00,2010,1,2,10,0.1417,4.783,169.1243,542.6814,0.0000,...,0.0180,32.7790,111.8925,164.0172,189.5618,208.8674,204.2851,161.0226,90.4019,18.2654
35,2010-01-02 11:00:00,2010,1,2,11,0.1194,5.226,181.2720,518.3449,0.0000,...,7.4346,0.0180,32.7790,111.8925,164.0172,189.5618,208.8674,204.2851,161.0226,90.4019
36,2010-01-02 12:00:00,2010,1,2,12,0.1010,5.303,148.9438,432.5776,0.0000,...,39.5215,7.4346,0.0180,32.7790,111.8925,164.0172,189.5618,208.8674,204.2851,161.0226
37,2010-01-02 13:00:00,2010,1,2,13,0.0894,4.933,79.7218,291.2126,0.0001,...,81.9147,39.5215,7.4346,0.0180,32.7790,111.8925,164.0172,189.5618,208.8674,204.2851
38,2010-01-02 14:00:00,2010,1,2,14,0.0972,4.067,19.2676,104.2168,0.0042,...,130.9506,81.9147,39.5215,7.4346,0.0180,32.7790,111.8925,164.0172,189.5618,208.8674

In [20]:
from sklearn.preprocessing import MinMaxScaler
columns_to_normalize = ['GHI','GHI1','GHI2','GHI3','GHI4','GHI5','GHI6','GHI7','GHI8','GHI9','GHI10','GHI11','GHI12','GHI13','GHI14']
scaler = MinMaxScaler()

df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])
df.head()

,DT,Year,Month,Day,Hour,Precipitation,Temperature,GHI,TOA Irradiance,Snowfall,...,GHI5,GHI6,GHI7,GHI8,GHI9,GHI10,GHI11,GHI12,GHI13,GHI14
34,2010-01-02 10:00:00,2010,1,2,10,0.1417,4.783,0.256850,542.6814,0.0000,...,0.000026,0.049780,0.169931,0.249093,0.287888,0.317208,0.310249,0.244546,0.137293,0.027738
35,2010-01-02 11:00:00,2010,1,2,11,0.1194,5.226,0.275299,518.3449,0.0000,...,0.011290,0.000026,0.049780,0.169931,0.249093,0.287888,0.317208,0.310249,0.244546,0.137293
36,2010-01-02 12:00:00,2010,1,2,12,0.1010,5.303,0.226201,432.5776,0.0000,...,0.060020,0.011290,0.000026,0.049780,0.169931,0.249093,0.287888,0.317208,0.310249,0.244546
37,2010-01-02 13:00:00,2010,1,2,13,0.0894,4.933,0.121073,291.2126,0.0001,...,0.124403,0.060020,0.011290,0.000026,0.049780,0.169931,0.249093,0.287888,0.317208,0.310249
38,2010-01-02 14:00:00,2010,1,2,14,0.0972,4.067,0.029260,104.2168,0.0042,...,0.198875,0.124403,0.060020,0.011290,0.000026,0.049780,0.169931,0.249093,0.287888,0.317208

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [22]:
X=df[['GHI1','GHI2','GHI3','GHI4','GHI5','GHI6','GHI7','GHI8','GHI9','GHI10','GHI11','GHI12','GHI13','GHI14']]
y=df[['GHI']]

In [28]:
split_index = int(len(X) * 0.9)

X_train, X_test = X[:split_index], X[split_index:]
y_train, y_test = y[:split_index], y[split_index:]

rfr = RandomForestRegressor(n_estimators=100, random_state=42)
rfr.fit(X_train, y_train)

y_pred = rfr.predict(X_test)

rmse_rf = mean_squared_error(y_test, y_pred, squared=False)
mae_rf = mean_absolute_error(y_test, y_pred)
r2_rf = r2_score(y_test, y_pred)

max_value = 658.4534
min_value = 0
original_rmse = rmse_rf * (max_value - min_value) + min_value
original_mae = mae_rf * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_rf)

C:\Users\suraj\AppData\Local\Temp\ipykernel_16244\3541248678.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(X_train, y_train)

RMSE: 16.397200149696197
MAE: 10.64742451447972
R-squared: 0.9874364278118987

In [29]:
y_test = np.squeeze(y_test)
max_val = 658.4534
min_val = 0
y_test_actual = y_test * (max_val - min_val) + min_val
y_pred_actual = y_pred * (max_val - min_val) + min_val
y_test_actual = np.round(y_test_actual, 3)
y_pred_actual = np.round(y_pred_actual, 3)

cross_checking = pd.DataFrame({'Actual': y_test_actual, 'Predicted': y_pred_actual})
print(cross_checking.tail(20))

        Actual  Predicted
25926   18.379     13.803
25927  108.944    103.137
25928  220.620    212.393
25929  306.837    305.454
25930  350.281    341.265
25931  335.559    340.085
25932  272.667    269.443
25933  163.830    164.678
25934   44.937     42.381
25935    0.020      0.019
25950   27.241     15.303
25951  145.712    139.795
25952  268.315    269.691
25953  350.746    350.187
25954  373.540    385.184
25955  339.708    351.400
25956  259.019    264.028
25957  150.125    149.099
25958   39.937     38.309
25959    0.024      0.018

In [30]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf')
svr.fit(X_train, y_train)

y_pred = svr.predict(X_test)

rmse_svr = mean_squared_error(y_test, y_pred, squared=False)
mae_svr = mean_absolute_error(y_test, y_pred)
r2_svr = r2_score(y_test, y_pred)


max_value = 658.4534
min_value = 0
original_rmse = rmse_svr * (max_value - min_value) + min_value
original_mae = mae_svr * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_svr)

C:\Users\suraj\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RMSE: 35.495868026283155
MAE: 29.884158702648513
R-squared: 0.9411252134239554

In [31]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=10)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
rmse_knn = mean_squared_error(y_test, y_pred_knn, squared=False)
mae_knn = mean_absolute_error(y_test, y_pred_knn)
r2_knn = r2_score(y_test, y_pred_knn)


max_value = 658.4534
min_value = 0
original_rmse = rmse_knn * (max_value - min_value) + min_value
original_mae = mae_knn * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_knn)

RMSE: 29.509939417555103
MAE: 20.13977661793975
R-squared: 0.9593078740900685

In [32]:
from sklearn.neural_network import MLPRegressor

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

mlp = MLPRegressor(hidden_layer_sizes=(40, 40, 40, 40, 40), activation='relu', solver='adam', max_iter=100, random_state=42)
mlp.fit(X_train_scaled, y_train)
y_pred = mlp.predict(X_test_scaled)

rmse_ann = mean_squared_error(y_test, y_pred, squared=False)
mae_ann = mean_absolute_error(y_test, y_pred)
r2_ann = r2_score(y_test, y_pred)

max_value = 658.4534
min_value = 0
original_rmse = rmse_ann * (max_value - min_value) + min_value
original_mae = mae_ann * (max_value - min_value) + min_value

print('RMSE:', original_rmse)
print('MAE:', original_mae)
print('R-squared:', r2_ann)

C:\Users\suraj\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1617: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RMSE: 16.86415036052178
MAE: 11.771658191628992
R-squared: 0.986710682567828